{% extends 'index.html' %}


{% block Inhalt %}


<div class="grid">
    <div class="cover animated fadeIn">
        <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
            <source src="../video/ftc.mp4">
            <source src="../video/ftc.ogg">
            Your browser does not support HTML5 video.
        </video>
    </div>

    <div class="Impr">
        <div class=" LeftSite_text_Impr animated fadeIn">
            <h1>Impressum</h1>
            <p>Die nachstehenden Informationen enthalten die gesetzlich vorgesehenen Pflichtangaben zur
                Anbieterkennzeichnung
                auf der Internet-Präsenz des Flensburger Tanzclub e.V.</p>
        </div>
    </div>
    <div class="LeftSite_Impr">
        <div class=" LeftSite_text_Impr animated fadeIn">
            <h2>Anbieter</h2>
            <p>Flensburger Tanzclub e.V.</br>
                Friesische Str. 150</br>
                24937 Flensburg</br>
            <p>

        </div>
    </div>
    <div class="RightSite_Impr">
        <div class=" RightSite_text_Impr animated fadeIn">
            <h2>Sponsor</h2>
            <div class="sponsor">
                <div class="sponsor-image"><img alt="Logo" src="../bilder/sponsor.png"></div>
            </div>
            </p>
            </p>
        </div>
    </div>
    <div class="LeftSite_Impr">
        <div class="LeftSite_text_Impr animated fadeIn">
            <h2>Geschäftsführender Vorstand</h2>
            <p>Thomas Mühlhausen (1. Vorsitzender)</br>
                Ulf Kohlmann (2. Vorsitzender)</br>
                Birte Moog (Kassenwartin)</br>
                </br>
                Telefon: <a href="tel:046112244">(0461) 12244</a></br>
                E-Mail:
                <a href="mailto:tanzen@flensburger-tc.de">tanzen@flensburger-tc.de</a>
        </div>
    </div>
    <div class="RightSite_Impr">
        <div class=" RightSite_text_Impr1 animated fadeIn">

            Sie erreichen uns online auch über das
            <a href="Kontakt.html">Kontaktformular</a>. Diese Maßnahme ist durch den stark zunehmenden Missbrauch von
            E-Mail-Adressen durch
            sogenannte Spam-Dienste leider erforderlich geworden.

        </div>
    </div>
    <div class="LeftSite_Impr">
        <div class=" LeftSite_text_Impr animated fadeIn">
            <h2>Vereinsregister</h2>
            <p>Der Flensburger Tanzclub e.V. ist unter dem Aktenzeichen VR 798 FL im Register des Amtgerichts Flensburg
                eingetragen.
            </p>
        </div>
    </div>
    <div class="RightSite_Impr">
        <div class=" RightSite_text_Impr animated fadeIn">
            <h2>Vertretungsberechtigte</h2>
            <p>Vertreten wird der Verein durch den Vorsitzenden oder den stellvertretenden Vorsitzenden zusammen mit
                jeweils
                einem anderen Vorstandsmitglied gemäß Satzung §8 Abs. 4.
            </p>
        </div>
    </div>

    <div class="LeftSite_Impr">
        <div class=" LeftSite_text_Impr animated fadeIn">
            <h2>Copyright</h2>
            <p>Texte, Bilder, Grafiken sowie Gestaltung und Layout dieser Seiten unterliegen weltweitem Urheberrecht.
                Unerlaubte
                Verwendung, Reproduktion oder Weitergabe einzelner Inhalte oder kompletter Seiten sind nur mit
                schriftlicher
                Genehmigung des Flensburger Tanzclub zulässig. Diese Seiten wurden unter Verwendung von Quellen
                folgender
                Anbieter erstellt: CMSimple.org DotcomWebdesign.com, Map24.de, Treichler.at und Pixelio.de. Hierfür
                unseren
                herzlichen Dank.
                </br>

                Falls irrtümlicherweise durch die Wiedergabe von Text bzw. Bild ein Copyright verletzt wurde, so bitten
                wir um einen Hinweis,
                damit die Informationsdarstellung unverzüglich korrigiert werden kann. Gleiches gilt für Fotos von
                Personen,
                die einer Veröffentlichung widersprechen. Vielen Dank.
            </p>
        </div>
    </div>
    <div class="RightSite_Impr">
        <div class=" RightSite_text_Impr animated fadeIn">
            <h2>Haftung</h2>
            <p>Aufgrund der technischen Merkmale des Internet kann der Flensburger Tanzclub keine Gewähr für die
                Vollständigkeit
                und Richtigkeit der eingestellten Informationen übernehmen. Alle Angebote sind freibleibend und
                unverbindlich.
                Der Flensburger Tanzclub behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne
                gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder
                endgültig einzustellen.</br>

                Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.
                Für den Inhalt der
                verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
            </p>
        </div>
    </div>
    <div class="LeftSite_Impr">
        <div class=" LeftSite_text_Impr animated fadeIn">
            <h2>Adressen</h2>
            <p>Alle Adressen, die der Flensburger Tanzclub auf seinen Internetseiten veröffentlicht, dienen
                ausschließlich
                Informationszwecken. Eine kommerzielle Verwendung durch Dritte ist nicht gestattet.
            </p>
        </div>
    </div>
</div>
</div>

{% endblock%}