{% extends 'index.html' %}

{% block Inhalt %}

<div class="grid_dance">
    <div class="cover animated fadeIn">
        <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
            <source src="../video/kindertanzen.mp4">
            <source src="../video/kindertanzen.ogg">
            Your browser does not support HTML5 video.
        </video>
    </div>
    <div class="LeftSite_dance">
        <div class="LeftSite_text_Kinder animated fadeInLeftBig">
            <p>
            <h1>Kindertanzen</h1>
            <img alt="Logo" src="../bilder/kinder.jpg">
            </p>
        </div>
    </div>
    <div class="RightSite_Kinder">
        <div class="RightSite_text_Kinder animated fadeInRightBig">
            <h3> Hier kommen unsere Kleinen ganz groß raus:</h3>
            <p>
                In dieser Stunde voller Spiel und Spaß wird der natürliche Bewegungsdrang der Kinder gefordert und
                gefördert, es werden Tanzelemente
                vermittelt und der Bewegungssinn geschult. Die Kinder lernen dabei, mit anderen Kindern zu interagieren.
                Durch das Kindertanzen werden Kinder ganzheitlich gefördert. Die Eltern nutzen die "freie" Stunde gerne
                zum Einkaufen. In unmittelbarer Nähe befinden sich verschiedene Lebensmittelmärkte.
            </p>
        </div>
    </div>
</div>

{% endblock%}