{% extends 'index.html' %}

{% block Inhalt %}
<div class="grid_dance">
    <div class="cover animated fadeIn">
        <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
            <source src="../video/linedance.mp4">
            <source src="../video/linedance.ogg">
            Your browser does not support HTML5 video.
        </video>
    </div>
    <div class="LeftSite_dance">
        <div class="LeftSite_text animated fadeInLeftBig">
            <p>
            <h1>Linedance</h1>
            </p>
            <img alt="Logo" src="../bilder/linedance.jpeg">
        </div>
    </div>
    <div class="RightSite_dance">
        <div class="RightSite_text_street animated fadeInRightBig">
            <p>
                Linedance ist eine feine Sache für tanzbegeisterte Singels, da es ohne Partner getanzt wird. Es werden
                zu unterschiedlichen
                Musikstücken verschiedene Tanzschritte eingeübt, die dann in mehreren Reihen neben und hinter einander
                getanzt werden. Linedance erfreut sich größter Beliebtheit bei Jung und Alt. Der Einstieg in unsere
                Linedance-
                Gruppe ist jederzeit möglich. Interessenten kommen einfach zu einem unverbindlichem Probetraining vorbei
                und wenden sich an unsere Linedance-Trainer Ingeburg und Jørgen.
            </p>
        </div>
    </div>
</div>


{%endblock%}