{% extends 'index.html' %}

{% block Inhalt %}

<div class="grid_rock">
    <div class="cover animated fadeIn">
        <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
            <source src="../video/rocknroll.mp4">
            <source src="../video/rocknroll.ogg">
            Your browser does not support HTML5 video.
        </video>
    </div>
    <div class="LeftSite_rock">
        <div class=" LeftSite_text_rock animated fadeInRightBig">
            <h1>Rock'n'Roll</h1>
            <br> </br>
            <img alt="Logo" src="../bilder/nordic_revolution.png">
        </div>
    </div>
    <div class="RightSite_rock">
        <div class=" RightSite_text_rock animated fadeInRightBig">

            <p>
                Seit Anfang 2011 gibt es Konkurrenz für alle Flensburger Rock´n´Roll-Vereine. Eine Gruppe Tänzer mit
                langjährigen Erfahrungen
                und Erfolgen bis hin zum Weltmeistertitel im Rock´n´Roll und Boogie-Woogie-Bereich eröffnete im
                Flensburger
                Tanzclub die neue Rock´n´Roll-Sparte „Nordic Revolution“. Unsere Tänzer bieten verschiedenste Tanzkurse
                an: Wir haben sowohl für die ganz Kleinen als auch für die ganz Großen entsprechende Programme mit
                verschiedenen
                Niveaustufen. Unsere ausgezeichnet ausgebildeten Trainer unterstützen Sie bei allem, was Sie auf dem
                Herzen haben. Informieren Sie sich auf unserer Homepage über die einzelnen Gruppen. Wir freuen uns auf
                jeden einzelnen tanzwilligen Menschen, der den Weg in unsere „noch“ kleine Tanzfamilie findet.
                <br> </br>
                Erfolge
                des „RRC Nordic Revolution“ im Flensburger Tanzclub Nordisch United<br> </br> - 5. Platz
                Weltmeisterschaft Rimini
                (Italien) 2012 Nordisch United <br> </br>- 2. Platz Deutsche Meisterschaft Trostberg 2012 Nordisch
                United<br> </br> - 2.
                Platz Norddeutsche Meisterschaft Flensburg 2013 Nordisch United <br> </br>- 3. Platz SDM 2014 Nordisch
                United -
                6. Platz Weltmeisterschaft 2014
            </p>
            </p>
        </div>
    </div>
    <div class="LeftSite_rock">
        <div class="LeftSite_text_rock animated fadeInRightBig">
            <h2>Mini-Dance</h2>

        </div>
    </div>
    <div class="RightSite_rock">
        <div class=" RightSite_text_rock animated fadeInRightBig">

            Wenn ihr Kind sich gerne zu Musik bewegt, warum dann nicht bei uns? Hier studieren die Kleinen zu
            Rock´n´Roll Musik eine
            tolle Choreographie als Formation/ Einzelpaar ein und erweitern somit ihr Bewegungsrepertoire spielerisch.
            Zudem haben sie die Möglichkeit, mit einem Partner/ Partnerin zusammen ihre ersten Tanzerfahrungen zu
            machen.
            breitensport donnerstag rnr Trainer: Nicole Thomas und Johanna Behringer

        </div>
    </div>
    <div class="LeftSite_rock">
        <div class=" LeftSite_text_rock animated fadeInRightBig">
            <h2>Boogie Woogie</h2>


            <img alt="Logo" src="../bilder/boogie.png">

        </div>
    </div>
    <div class="RightSite_rock">
        <div class=" RightSite_text_rock animated fadeInRightBig">

            <p>VIn dieser Gruppe, die von Synie und Ulf Kohlmann geleitet wird, finden sich sowohl Anfänger als auch
                fortgeschrittene
                Boogie-Woogie Tänzer wieder. Wer sich also mal in die Swing- und Boogie-Zeiten zurückversetzen lassen
                will, der ist herzlich eingeladen, in diese Gruppe voller Spaß und fetziger Rhythmen einzusteigen. Eine
                Altersbegrenzung gibt es nicht. Interessenten kommen einfach zum Training vorbei. Fragen zu der Gruppe
                bitte über das Kontaktfeld . Trainer: Ulf und Synje Kohlmann
            </p>
        </div>
    </div>

    <div class="LeftSite_rock">
        <div class=" LeftSite_text_rock animated fadeInRightBig">
            <h2>Formation</h2>

        </div>
    </div>
    <div class="RightSite_rock">
        <div class=" RightSite_text_rock animated fadeInRightBig">

            <h3> "MC Ladies" – Lady Formation </h3>

            Die Formation MC Ladies besteht seit 2015 und ist eine rein weibliche Formation mit Mädchen und Frauen
            zwischen 13 und 27
            Jahren. Sie tanzt in der Freedance Klasse, wo nur die Freude am Tanzen und der Spaß und Zusammenhalt im Team
            im Vordergrund stehen. Selbstverständlich hast du auch hier die Möglichkeit auf Turnieren zu starten und
            dein Können unter Beweis zu stellen. Trainer: Christian Semrau, Maximiliam Möhl Mitglieder: Trainingszeiten:
            Mittwoch 17 - 19 Uhr / Freutag 17--19 Uhr Altersbeschränkung: 13 - 30 Jahre Voraussetzungen: Spaß am Tanzen
            <br> </br>
            <h3> "Nordic Girls" - Girl Formation ( 8 - 15 Jahre ) </h3>

            Unsere neue Mädchenformation für Mädchen im Alter von 8 bis 15 Jahren trainiert am Donnerstag von 16:15 -
            17:15 Uhr. Ziel
            ist es, mit der Formation an Turnieren und Showauftritten teilzunehmen. Trainer: Nicole Thomas , Johanna
            Behringer

        </div>
    </div>
    <div class="LeftSite_rock">
        <div class=" LeftSite_text_rock animated fadeInRightBig">
            <h2>Grundlagentraining</h2>

        </div>
    </div>
    <div class="RightSite_rock">
        <div class=" RightSite_text_rock animated fadeInRightBig">

            Zum Tanzen gehören nicht nur die Choreographie und die Akrobatik, sondern ebenso spezielle körperliche
            Voraussetzungen, die
            in dieser Trainingseinheit geschult werden. Hier wird vor allem im turnerischen Bereich gearbeitet. Sowohl
            jüngere, als auch ältere Kinder werden hier gefördert und gefordert. Trainer: Benita Sigmund
        </div>
    </div>

    <div class="LeftSite_rock">
        <div class=" LeftSite_text_rock animated fadeInRightBig">
            <h2>Grundlagentraining</h2>

        </div>
    </div>
    <div class="RightSite_rock">
        <div class=" RightSite_text_rock animated fadeInRightBig">

            In diese Gruppe kannst du ohne Probleme sofort einsteigen. Hier erlernst du die ersten Schritte Rock´n´Roll
            und lernst einfach
            Choreographien und Akrobatiken. Schau einfach mal vorbei und genieße unsere tolle Atmosphäre! Fragen zu der
            Gruppe bitte über das Kontakfeld starten! Trainer: Ulf Kohlmann Trainingszeiten: Neu!
        </div>
    </div>

    <div class="LeftSite_rock">
        <div class=" LeftSite_text_rock animated fadeInRightBig">
            <h2>Einzelpaartraining </h2>

        </div>
    </div>
    <div class="RightSite_rock">
        <div class=" RightSite_text_rock animated fadeInRightBig">

            In dieser Stunde habt ihr die Möglichkeit, mit einem Partner (rein weiblich oder gemischt) eine tolle
            Choreographie zu erlernen
            und je nach Alter und Können verschiedenste Akrobatiken zu erlernen. Mit euren Folgen habt ihr die
            Möglichkeit,
            sowohl im Breitensportbereich als auch im Leistungssport Fuß zu fassen. Trainer: Ulf Kohlmann
            Trainingszeiten:
            Freitag 18-20 Uhr Sporthalle der Waldorfschule Mittwoch 18-19 Uhr Sporthalle Bildungszentrum am Sandberg
            Altersbeschränkung: 5-50 Jahre Voraussetzungen: Spaß am Tanzen Einzelpaare: Pia Mißfeld & Benjamin Kruppa
            B-Klasse
        </div>
    </div>

    <div class="LeftSite_rock">
        <div class=" LeftSite_text_rock animated fadeInRightBig">
            <h2>Fitnesstraining</h2>

        </div>
    </div>
    <div class="RightSite_rock">
        <div class=" RightSite_text_rock animated fadeInRightBig">


            Hier kannst du dich auspowern. Speziell auf unseren Sport zugeschnitten wird hier ein Fitnesstraining
            angeboten, dass deinen
            Körper optimal auf unseren Sport vorbereitet. Schau vorbei und komm ins Schwitzen! Zwinkernd
            Trainingszeiten:
            Zur Zeit ins Rock'n' Roll-Training integriert. Altersbeschränkung: 5-50 Jahre
        </div>
    </div>

</div>
</div>

{%endblock%}
