{% extends 'index.html' %}

{% block Inhalt %}


<div class="grid">
    <div class="cover animated fadeInDown">
        <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
            <source src="../video/ftc.mp4">
            <source src="../video/ftc.ogg">
            Your browser does not support HTML5 video.
        </video>
    </div>
    <div class="welcome-text animated fadeIn">
        <h1>Herzlich Wilkommen in unserem Tanzclub! </h1></br>
        <p>
            Der FTC bietet ein breit gefächertes Angebot aus vielen Bereichen des Tanzsports an, so dass für jeden etwas
            dabei ist. Bei
            uns findet man Anfänger, die die ersten Tanzschritte wagen, fortgeschrittene Tanzkreispaare, die hier ihrem
            Hobby nachgehen, bis hin zu sportlichen Tänzern. Wir verfügen über einen eigenen Tanzsaal in zentraler Lage
            in Flensburg und sind auch mit öffentlichen Verkehrsmitteln gut zu erreichen.


        </p>
        <p>Gerne begrüßen wir Sie in unserem Tanzsaal. </p>
    </div>
    <div class="LeftButton">
        <div class="LeftVideo animated fadeInLeftBig">
            <a href="/rocknroll">
                <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">

                    <source src="../video/rocknroll.mp4">
                    <source src="../video/rocknroll.ogg">
                    Your browser does not support HTML5 video.

                </video>
            </a>
        </div>
    </div>

    <div class="RightButton">

        <div class="RightVideo animated fadeInRightBig">
            <a href="/specials">
                <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
                    <source src="../video/specials.mp4">
                    <source src="../video/specials.ogg">
                    Your browser does not support HTML5 video.
                </video>
            </a>
        </div>
    </div>
    <div class="LeftButton">
        <div class="LeftVideo animated fadeInLeftBig">
            <a href="/streetdance">
                <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
                    <source src="../video/streetdance.mp4">
                    <source src="../video/streetdance.ogg">
                    Your browser does not support HTML5 video.
                </video>
            </a>
        </div>
    </div>
    <div class="RightButton">
        <div class="RightVideo animated fadeInRightBig">
            <a href="/breakdance">
                <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
                    <source src="../video/breakdance.mp4">
                    <source src="../video/breakdance.ogg">
                    Your browser does not support HTML5 video.
                </video>
            </a>
        </div>
    </div>
    <div class="LeftButton">
        <div class="LeftVideo animated fadeInLeftBig">
            <a href="/videoclipdancing">
                <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
                    <source src="../video/videoclip.mp4">
                    <source src="../video/videoclip.ogg">
                    Your browser does not support HTML5 video.
                </video>
            </a>
        </div>
    </div>
    <div class="RightButton">
        <div class="RightVideo animated fadeInRightBig">
            <a href="/turniertanzsport">
                <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
                    <source src="../video/turniertanzsport.mp4">
                    <source src="src/video/turniertanzsport.ogg">
                    Your browser does not support HTML5 video.
                </video>
            </a>
        </div>
    </div>
    <div class="LeftButton">
        <div class="LeftVideo animated fadeInLeftBig">
            <a href="/linedance">
                <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
                    <source src="../video/linedance.mp4">
                    <source src="../video/linedance.ogg">
                    Your browser does not support HTML5 video.
                </video>
            </a>
        </div>
    </div>
    <div class="RightButton">
        <div class="RightVideo animated fadeInRightBig">
            <a href="/kindertanzen">
                <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
                    <source src="../video/kindertanzen.mp4">
                    <source src="../video/kindertanzen.ogg">
                    Your browser does not support HTML5 video.
                </video>
            </a>
        </div>
    </div>
    <div class="LeftButton">
        <div class="LeftVideo animated fadeInLeftBig">
            <a href="/tanzkreise">
                <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
                    <source src="../video/tanzkreise.mp4">
                    <source src="../video/tanzkreise.ogg">
                    Your browser does not support HTML5 video.
                </video>
            </a>
        </div>
    </div>
    <div class="RightButton">
        <div class="RightVideo animated fadeInRightBig">
            <a href="tanzkurse.html">
                <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
                    <source src="../video/tanzkurse.mp4">
                    <source src="../video/tanzkurse.ogg">
                    Your browser does not support HTML5 video.
                </video>
            </a>
        </div>
    </div>
</div>


{% endblock%}