{% extends 'index.html' %}

{% block Inhalt %}
<div class="grid_specials">
    <div class="cover animated fadeIn">
        <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
            <source src="../video/specials.mp4">
            <source src="../video/specials.ogg">
            Your browser does not support HTML5 video.
        </video>
    </div>
    <div class="LeftSite_specials">
        <div class="LeftSite_text animated fadeInLeftBig">
            <p>
            <h2>Hochzeitstänze</h2>
            </p>
            <img alt="Logo" src="../bilder/hochzeit.jpg">
        </div>
    </div>
    <div class="RightSite_specials">
        <div class="RightSite_text animated fadeInRightBig">

            <p>
                Wir helfen Ihnen gerne, wenn es um das Thema "Hochzeitstänze" geht. Ob als Brautpaar, oder gleich mit
                der ganzen Hochzeitsgesellschaft:
                Bei uns sind alle herzlich willkommen und wir stehen Ihnen mit Rat und Tat zur Seite! Vielleicht haben
                Sie auch schon eine feste Vorstellung von Ihrem Hochzeitstanz. Viele Brautpaare bevorzugen einen
                klassischen
                Walzer zur Eröffnung der Feierlichkeiten. Auf Wunsch stellen wir Ihnen Ihre Musik und Choreografien
                individuell
                zusammen. Bevor wir mit dem Unterricht beginnen, werden Sie zunächt unverbindlich durch unsere
                Tanzlehrer
                beraten. Im Anschluss folgt meistens schon die erste Tanzstunde. Damit Sie auch bei Ihren
                Schwiegereltern eine gute Figur machen, unterrichten wir
                Sie auf Wunsch auch gerne in weiteren Gesellschaftstänzen, wie Discofox und Foxtrott.
            </p>
        </div>
    </div>

    <div class=LeftSite_specials>
        <div class="LeftSite_text  animated fadeInLeftBig">
            <h2>Discofox</h2>
        </div>
    </div>
    <div class=RightSite_specials>
        <div class="RightSite_text animated fadeInRightBig">

            <p>
                Der Discofox ist der wohl populärste Tanz in Deutschland. Er lässt sich gut zu "normaler" Discomusik
                tanzen und umfasst unzählige
                Figuren, die für tolle Effekte beim Zuschauer sorgen. Dieser Tanz macht einfach nur Spaß und ist dabei
                auch noch einfach zu erlernen, Aufgrund seiner Beliebtheit nimmt der Discofox einen ganz besonderen
                Platz
                bei uns ein. Daher bieten wir von Zeit zu Zeit Workshops an, welche sich ausschließlich mit diesen Tanz
                befassen. Dabei kommen sowohl absolute Anfänger, als auch fortgeschrittene Tänzer, voll auf ihre Kosten.

            </p>
        </div>
    </div>
    <div class="LeftSite_specials">
        <div class="LeftSite_text animated fadeInLeftBig">
            <h2>Wiener Walzer</h2>
        </div>
    </div>
    <div class="RightSite_specials">
        <div class="RightSite_text animated fadeInRightBig">
            <p>
                Der Wiener Walzer ist ein Gesellschafts- und Turniertanz, der paarweise getanzt wird und zu den
                Standardtänzen des Welttanzprogramms
                gehört. Mit ungefähr 60 Takten pro Minute (entspricht 180bpm) ist er nach Takten, wenn auch nicht nach
                Taktschlägen, der schnellste Tanz des Welttanzprogramms.
            </p>
        </div>
    </div>
    <div class="LeftSite_specials">
        <div class="LeftSite_text animated fadeInLeftBig">
            <h2>Zumba</h2>
        </div>
    </div>
    <div class=RightSite_specials>
        <div class="RightSite_text animated fadeInRightBig">
            <p>
                Zumba ist eine Verschmelzung von lateinamerikanischer und internationaler Musik - Tanz als dynamisches,
                aufregendes und effektives
                Fitnesssystem! Das Programm besteht aus einem Intervalltraining in Kombination mit schnellen und
                langsamen
                Rythmus, der den Körper kräftigt und formt. Zumba eignet sich hervorragend zur Fettverbrennung und
                ganzheitlicher
                Körperkräftigung. Es werden gezielte Bereiche wie Bauch, Beine, Po, Arme und vor allem der wichtigste
                Muskel DAS HERZ trainiert. Es ist eine Mischung von körperformenden Bewegungen mit leichten
                Schrittfolgen. Zumba schafft eine partyähnliche Atmosphäre, in der man sich einfach
                von der Musik mitreißen lässt und die Bewegungen genießen kann. Zumba ist heiß, sexy, gefühlvoll und
                ein aufregendes Training FÜR JEDERMANN UND JEDERFRAU!!! Es ist ein Training um den ganzen Körper zu
                formen und
                zu festigen. Von Kopf bis Fuß und von innen nach außen.
            </p>
        </div>
    </div>
    <div class="LeftSite_specials">
        <div class="LeftSite_text animated fadeInLeftBig">
            <h2>Parkinson</h2>
            <img alt="Logo" src="../bilder/parkinson.jpg">
        </div>
    </div>
    <div class="RightSite_specials">
        <div class="RightSite_text animated fadeInRightBig">
            <p>
            <h3>Tanzen Sie sich fit!</h3>
            Parkinson bild Bewegung tut gut und hält fit! Und sie macht Spaß. Zwar sind Parkinson-Patienten in ihrer
            Bewegung eingeschränkt,
            doch gibt es Sportarten, die nicht nur geeignet sind, sondern sogar die Krankheitssymptome lindern können.
            Hierzu gehören beispielsweise neben Nordic Walking auch Tanzen. Wenn Patienten Walzer, Tango und Foxtrott
            tanzen, verbessern sie ihren Gleichgewichtssinn, ihre Gehgeschwindigkeit und lernen, längere Schritte
            zu machen. Dies bestätigt sogar eine Studie der Universität Freiburg. Außerdem steigert Tanzen die
            Lebensfreude!
            </p>
        </div>
    </div>
    <div class=LeftSite_specials>
        <div class="LeftSite_text animated fadeInLeftBig">
        </div>
    </div>
    <div class=RightSite_specials>
        <div class="RightSite_text animated fadeInLeftBig">
            <a href="zeitenundbelegung.html">
                <h3>Zu unseren Zeiten</h3>
            </a>
        </div>
    </div>
</div>
{%endblock%}
