{% extends 'index.html' %}

{% block Inhalt %}
<div class="grid_dance">
    <div class="cover animated fadeIn">
        <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
            <source src="../video/streetdance.mp4">
            <source src="../video/streetdance.ogg">
            Your browser does not support HTML5 video.
        </video>
    </div>
    <div class="LeftSite_dance">
        <div class="LeftSite_text_street animated fadeInLeftBig">
            <p>
            <h1>Streetdance</h1>
            </p>
            <img alt="Logo" src="../bilder/breakdance.jpg">
        </div>
    </div>
    <div class="RightSite_dance">
        <div class="RightSite_text_street animated fadeInRightBig">
            <p>
                Die Bezeichnung "Streetdance" stammt aus dem Englischen und bedeutet wörtlich übersetzt "Straßentanz".
                Damit ist also der
                Tanz auf der Straße gemeint.
                <br> </br>
            <h3>
                Ursprung und Entwicklung </h3>
            Streetdance ist eine Tanzform, die in Manhattan im schwarzen Harlem und in der Bronx entstanden ist.
            Vorwiegend Jugendliche
            vergnügen sich mangelns besserer Alternativen und Örtlichkeiten auf der Straße damit, sich im Tanzen
            zu messen. Ghettoblaster erzeugen die notwendige Musik. So entstand in den späten 70er Jahren nicht nur
            der Breakdance, sondern später auch weiter entwickelte Formen wie Hip Hop und Rap. Nur für den Insider
            sind die feinen Nuancen innerhalb der einzelnen Bewegungen und Tanzformen sichtbar. Etwa Mitte der 80er
            Jahre schwappte diese Tanzbewegung auch nach Europa über, wo sie jedoch in einer weitaus organisierteren
            und gebändigteren Form betrieben wird.
            </p>
        </div>
    </div>
</div>
{%endblock%}
