{% extends 'index.html' %}

{% block Inhalt %}
<div class="grid_dance">
    <div class="cover animated fadeIn">
        <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
            <source src="../video/tanzkurse.mp4">
            <source src="../video/tanzkurse.ogg">
            Your browser does not support HTML5 video.
        </video>
    </div>
    <div class="LeftSite_dance">
        <div class="LeftSite_text animated fadeInLeftBig">
            <p>
            <h1>Tanzkurse</h1>
            </p>
        </div>
    </div>
    <div class="RightSite_dance">
        <div class="RightSite_text animated fadeInRightBig">
            <p>
                Wann haben Sie das letzte Mal getanzt?
                Egal ob Firmenfest oder Familienfeier: Ein Repertoire an Grundschritten der beliebten Gesellschaftstänze
                macht sich immer bezahlt. Machen Sie eine gute Figur und lernen Sie mit uns das Tanzen!

                In unseren Einsteigerkursen machen wir Sie behutsam mit den ersten Schritten vertraut. Sie lernen die
                Basisschritte verschiedener Tänze wie: Langsamer Walzer, Tango, Wiener Walzer, Foxtrott, Discofox,
                Cha-Cha, Rumba und der Salsa kennen.
                Neben den Grundschritten sind auch die Haltung und Führung von besonderer Wichtigkeit. Wiedereinsteiger
                sind willkommen und können ihre Kenntnisse noch erweitern.
                Unsere Tanzlehrer, alle selbst erfolgreiche Turniertänzer, verfügen über einen reichhaltigen
                Erfahrungsschatz und freuen sich, Ihnen das Tanzen beizubringen.

                Für die Pausen steht Ihnen unsere Bar zur Verfügung. Hier kommen Sie auch schnell mit anderen Paaren
                in's Gespräch. Langjährige Freundschaften sind in unserer 50 jährigen Clubgeschichte so bereits
                entstanden.

                Im Gegensatz zu vielen Tanzschulen bieten wir Ihnen ein sehr einfaches Kursussystem an. Nach dem
                Einsteigerkursus folgt im Anschluss ein Fortschrittskursus. Hier werden die Choreographien der einzelnen
                Tänze erweitert und es kommen noch neue Tänze hinzu. Nachdem Sie den Fortschrittskursus abgeschlossen
                haben sind Sie für die Teilnahme in unseren Tanzkreisen qualifiziert. Dabei handelt es sich um feste
                Gruppen, die sich wöchentlich zum Tanzen treffen. Hier sind den Möglichkeiten keine Grenzen gesetzt.
                Wenn Sie möchten, können Sie sogar an Breitensportwettbewerben teilnehmen. Weitere Informationen zu
                unseren Tanzkreisen finden Sie <a href="tanzkreise.html">hier</a>.

                Für die Einsteiger- und Fortschrittskurse sind lediglich die Kursusgebühren zu entrichten. Eine feste
                Miedgliedschaft im Flensburger Tanzclub e.V. ist nicht erforderlich.

                Sie suchen noch einen Tanzpartner? Wir helfen Ihnen gerne! Drücken Sie einfach den "Single-Button" auf
                dieser Seite und registrieren Sie sich gleich für die Tanzpartnersuche.


            </p>
        </div>
    </div>
</div>
{%endblock%}
