{% extends 'index.html' %}

{% block Inhalt %}
<div class="grid_dance">
    <div class="cover animated fadeIn">
        <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
            <source src="../video/tanzkreise.mp4">
            <source src="../video/tanzkreise.ogg">
            Your browser does not support HTML5 video.
        </video>
    </div>
    <div class="LeftSite_dance">
        <div class="LeftSite_text animated fadeInLeftBig">
            <p>
            <h1>Tanzkreise</h1>
            </p>
        </div>
    </div>
    <div class="RightSite_dance">
        <div class="RightSite_text animated fadeInRightBig">
            <p>
                "Warum Tanzen lernen, wenn man es im Alltag sowieso nicht anwendet?"

                Die Antwort auf diese Frage liefern Ihnen die Mitglieder unserer Tanzkreise.

                Bei den Tanzkreisen handelt es sich um Gruppen, die sich einmal wöchentlich zum gemeinsamen Tanzen
                treffen. Neben dem Erlernen von Figuren (Choreographien), wird vor allem auch an der richtigen Technik
                gefeilt. Da es bei unseren Tanzkreisen keine zeitliche Begrenzung gibt, lernen Sie nach und nach immer
                mehr Figurenkombinationen kennen und verbessern kontinuierlich Ihre technischen Fähigkeiten.

                Nutzen Sie die Teilnahme am Tanzkreis um eine gemeinsame Zeit und damit auch einem gemeinsamen Hobby mit
                ihrem Partner nachzugehen. Lernen Sie viele interessante Personen kennen, die ebenfalls im Tanzkreis
                tanzen.

                Neben dem deutschen Tanzabzeichen können Sie als Tanzkreispaar auch an Breitensportwettbewerben
                teilnehmen. Auch ist ein fließender Übergang in den Leistungssportbereich (Standard- und Latein
                Turniertanz) möglich.

                Bevor Sie Mitglied im Tanzkreis werden, sollten Sie den Einsteiger-, sowie den Fortschrittskursus bei
                uns abgeschlossen haben. Wenn Sie schon Kurse in früherer Zeit absolviert haben, können Sie aber auch
                als "Seiteneinsteiger" teilnehmen. Unsere Tanzlehrer beraten Sie gern.

                Die Zeiten unserer Tanzkreise finden sie auf der Startseite.
            </p>
        </div>
    </div>
</div>
{%endblock%}
