{% extends 'index.html' %}

{% block Inhalt %}
<div class="grid_dance">
    <div class="cover animated fadeIn">
        <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
            <source src="../video/turniertanzsport.mp4">
            <source src="src/video/turniertanzsport.ogg">
            Your browser does not support HTML5 video.
        </video>
    </div>

    <div class="LeftSite_dance">
        <div class="LeftSite_text animated fadeInLeftBig">
            <p>
            <h1>Turniertanzsport</h1>
            </p>
        </div>
    </div>
    <div class="RightSite_dance">
        <div class="RightSite_text animated fadeInRightBig">

            <h2> Breiten- und Leistungssport Standard und Latein</h2>
            <br> </br>
            Tanzsport ist sowohl im Breiten- wie auch im Turnier- und Leistungssport beliebt. Dabei ist der Übergang vom
            Hobbytänzer
            über den ambitionierten Breitensportler bis hin zum Einsteiger in die Turnierszene im Idealfall fließend.
            Turniere gibt es sowohl für den Breiten- wie auch für den Leistungssportbereich. Dabei treten einzelne
            Tänzer,
            Paare, Formationen oder Mannschaften einzelner Paare an. Sie präsentieren, den Turnierregeln folgend,
            entweder
            eine einstudierte Choreografie oder interpretieren ein gespieltes Musikstück frei. Wer sich für diese
            Gruppen
            entscheidet, nimmt an einem Tanzunterricht teil, der weniger auf vielfältige Programme ausgerichtet ist,
            sondern vielmehr auf die richtige, balancierte Ausführung der Schritte. Ziel für die Paare ist die Teilnahme
            an Tanzturnieren. Damit nicht jeder gleich gegen den Weltmeister antreten muss, hat man verschiedene
            Altersgruppen
            eingeführt. Die sind dann wieder in Leistungsgruppen aufgeteilt. Bei uns werden Anfänger ebenso aufmerksam
            trainiert wie die Paare der höchsten Leistungsklasse. Bei uns unterrichten wir in zwei Trainingsgruppen.
            In der Anfängergruppe wird eine Stunde Latein und eine Stunde Standard nacheinander unterrichtet. Am
            Unterricht
            in der zweiten Gruppe nehmen die Paare der höheren Klassen (B-A-S) am Training teil. In der Leistungsgruppe
            D-C sind all diejenigen gut untergebracht, die das Standard- und Latein-Tanzen auf sportliche Art
            bevorzugen.
            Dazu muss man nicht an vielen Tanzkursen teilgenommen haben, denn bei uns werden nicht immer wieder neue
            Schrittfolgen unterrichtet, wir legen dagegen viel Wert auf die Ausführung der Schritte. Wer in dieser
            Gruppe
            tanzt, hat auch die Möglichkeit, an Tanzturnieren teilzunehmen. Die Leistungsgruppe B-A-S ist für
            fortgeschrittene
            Turnierpaare, in der, wie auch in der D- und C-Klasse, alle Altersgruppen gemeinsam trainiert werden. Wer
            noch zusätzlich ohne Trainer üben möchte, kann in der unterrichtsfreien Zeit den Saal zum Freitraining
            nutzen.


        </div>
    </div>
</div>
{% endblock%}
