{% extends 'index.html' %}

{% block Inhalt %}

<div class="grid_dance">
    <div class="cover animated fadeIn">
        <video preload="auto" type="video/ogg" loop="true" autoplay="autoplay" muted="false" width="380">
            <source src="../video/videoclip.mp4">
            <source src="../video/videoclip.ogg">
            Your browser does not support HTML5 video.
        </video>
    </div>
    <div class="LeftSite_dance">
        <div class="LeftSite_text_videoclip animated fadeInLeftBig">
            <p>
            <h1>Videoclip-Dancing</h1>

            </p>
            <img alt="videoclip" src="../bilder/videoclip.jpg">

        </div>
    </div>
    <div class="RightSite_dance">
        <div class="RightSite_text animated fadeInRightBig">
            <p>
                Videoclip Dancing wurde erstmals 1994 als Tanzstil definiert: "Video-Clip Dancing ist ein Überbegriff
                für die Stilistik moderner
                Formationsdarbietungen, wie sie in der professionellen Unterhaltungsbranche praktiziert werden und
                wurden."
                Man kennt diesen Tanzstil vor allem aus den Musikvideos. Videoclip Dancing lebt am Puls der Zeit und
                verändert sich ständig in seinen Schwerpunkten. Wesentliche Elemente sind jedoch immer die Grundlagen
                von Jazz Dance, Hip Hop und Show Dance. Auch im Videoclip Dancing ist, wie bei jeder anderen Art von
                Tanz, das Entwickeln und Erlernen von Choreographien das Ziel.
            </p>
            <p> Videoclip Dancing wird im Flensburger Tanzclub für Kinder und Jugendliche unter der Leitung von Pia Rode
                angeboten. Neben dem Erlernen von Choreographien kommt dem Techniktraining und der Rhythmusschulung in
                den Trainingsstunden eine weitere große Bedeutung zu.Die Gruppen nehmen an öffentlichen Aufführungen
                (in dem Einkaufszentrum „Galerie“, an Tagen der offenen Tür etc.) teil und trainieren einmal pro Woche.
                Wir freuen uns, Euch zu einer kostenlosen Probestunde begrüßen zu dürfen. Kommt dazu einfach an einem
                der Trainingstermine in den Club und wendet Euch an Pia.
            </p>
        </div>
    </div>
</div>
{% endblock%}